@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);
h1 {
  font-size: 2.125em;
  line-height: 1.32353em;
  font-weight: 600;
  margin: 0; }

h2 {
  font-size: 1.25em;
  line-height: 1.75em;
  font-weight: 600;
  margin: 0; }

img {
  width: auto;
  height: auto;
  max-width: 100%; }

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  font-size: 1em;
  line-height: 2.1875em;
  color: #676767;
  padding: 0.47619em; }

button[type="submit"] {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  font-size: 1.3125em;
  line-height: 1.42857em;
  font-weight: 600;
  outline: 0;
  border: 0;
  padding: 0.47619em 0.71429em;
  color: #ffffff;
  background: #81afc5;
  min-width: 7.2381em;
  text-align: center;
  float: right; }

body {
  background: url("../img/bg-pattern.jpg");
  color: #676767;
  position: relative; }
  body * {
    font-family: "Source Sans Pro", sans-serif; }
  body:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: -200px;
    left: 0;
    right: 0;
    background: url("../img/bg.png") no-repeat center top transparent;
    z-index: -1; }

#logo img {
  display: block;
  margin: 1.875em auto; }

.container {
  background: #ffffff;
  padding-bottom: 3.125em;
  max-width: 51.875em;
  margin: 0 auto; }
  .container.signin {
    background: none; }

.container .signin-form {
  background: #f5f5f5;
  border: 1px solid #cbcbcb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }
  .container .signin-form .row {
    margin: 0; }
  .container .signin-form header {
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    background-clip: padding-box;
    background: #81afc5;
    border: 1px solid #81afc5;
    color: #ffffff;
    padding: 2.8125em;
    text-align: center; }

.comment-container {
  float: right; }

.wrapper-login {
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 3.125em;
  margin: 3.125em 0 0; }

.wrapper-register {
  margin: 3.125em 0 0; }

@media only screen and (min-width: 768px) {
  body > .signin-form {
    margin-top: 12.5em; }

  .wrapper-login {
    border: 0;
    margin-top: 6.25em; }

  .wrapper-register {
    margin: 0.625em 0 0; }

  .content {
    position: relative; }
    .content:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -10.625em;
      width: 0.125em;
      height: 21.25em;
      background: #e9e9e9;
      z-index: 1; } }
.seperator {
  position: relative; }
  .seperator .icon {
    position: relative;
    z-index: 1;
    display: block;
    width: 2.0625em;
    height: 2.0625em;
    background: #e9e9e9;
    color: #cbcbcb;
    text-align: center;
    border: 1px solid #cbcbcb;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    margin: 1.875em auto;
    font-size: 1em;
    line-height: 1.875em; }
  .seperator .line {
    position: absolute;
    width: 50%;
    height: 0.125em;
    top: 50%; }
    .seperator .line-left {
      left: 0;
      background: -moz-linear-gradient(left, rgba(233, 233, 233, 0) 0%, #e9e9e9 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(233, 233, 233, 0) 0%, #e9e9e9 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(233, 233, 233, 0) 0%, #e9e9e9 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e9e9e9', endColorstr='#e9e9e9',GradientType=1 );
      /* IE6-9 */ }
    .seperator .line-right {
      right: 0;
      background: -moz-linear-gradient(left, #e9e9e9 0%, rgba(233, 233, 233, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #e9e9e9 0%, rgba(233, 233, 233, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #e9e9e9 0%, rgba(233, 233, 233, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#00e9e9e9',GradientType=1 );
      /* IE6-9 */ }

#login-form input[type="text"],
#login-form input[type="password"],
#login-form input[type="email"] {
  font-size: 1.3125em;
  line-height: 1.66667em;
  height: auto;
  color: #676767;
  padding: 0.57143em 0.71429em 0.57143em 6.19048em; }
#login-form #btn-login {
  background: #00a0bc; }
  #login-form #btn-login:hover {
    background: #00b6d6;
    color: #ffffff; }
#login-form .form-remember label {
  display: inline-block;
  margin-bottom: 1.42857em;
  font-size: 0.875em;
  color: #cbcbcb; }
#login-form .form-field {
  position: relative;
  margin-bottom: 1.875em; }
  #login-form .form-field label {
    position: absolute;
    top: 0.57143em;
    left: 0.71429em;
    font-size: 1.3125em;
    line-height: 1.66667em;
    font-weight: 600;
    color: #e9e9e9; }

#register-form #btn-signup {
  background: #ffc334; }
  #register-form #btn-signup:hover {
    background: #ffcb4e;
    color: #ffffff; }
#register-form .form-field {
  position: relative;
  margin-bottom: 0.625em; }
  #register-form .form-field label {
    font-size: 1em;
    line-height: 2.1875em;
    font-weight: 600; }

.dropzone {
  float: right;
  min-width: 200px; }
  .dropzone label {
    float: left;
    font-weight: 600;
    color: #cbcbcb; }
  .dropzone .drop-zone {
    float: right; }
  .dropzone + * {
    clear: both; }

.ezdz-dropzone {
  position: relative;
  border-radius: 10px;
  font: bold 20px arial;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #ffffff;
  border: 1px solid #cbcbcb;
  color: #676767;
  overflow: hidden; }

.ezdz-dropzone div {
  /* */ }

.ezdz-dropzone span {
  border-radius: 10px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 13px;
  font-weight: normal;
  max-width: 90%;
  vertical-align: middle;
  padding: 4%;
  line-height: 10px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.ezdz-dropzone img {
  border-radius: 10px;
  max-width: 95%;
  max-height: 95%;
  margin-top: -3px;
  vertical-align: middle; }

.ezdz-dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ezdz-focus {
  border: 2px solid #676767; }

.ezdz-enter {
  border: 2px solid black;
  color: black; }

.ezdz-accept {
  border: 2px solid #e9e9e9; }

.ezdz-reject {
  border: 2px solid #ff6666;
  color: #ff6666; }

.form-action:after {
  content: '';
  display: table;
  clear: both; }

.comment-list li {
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 1.25em; }
  .comment-list li .comment-text {
    padding: 0 0.625em; }

.fb-login {
  text-align: center; }

.fb-btn {
  display: inline-block; }

.user-list li {
  margin-bottom: 0.625em; }

/*# sourceMappingURL=style.css.map */
