
// HEADERS
h1 {
	font-size: em(34px);
	line-height: em(45px, 34);
	font-weight: 600;
	margin: 0;
}
h2 {
	font-size: em(20px);
	line-height: em(35px, 20);
	font-weight: 600;
	margin: 0;
}

//FORM
img {
	width: auto;
	height: auto;
	max-width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	width: 100%;
	@include border-radius(10px);
	font-size: em(16px);
	line-height: em(35px, 16);
	color: $grey;
	padding: em(10px, 21);
}

button[type="submit"] {
	@include border-radius(10px);
	font-size: em(21px);
	line-height: em(30px, 21);
	font-weight: 600;
	outline: 0;
	border: 0;
	padding: em(10px, 21) em(15px, 21);
	color: $white;
	background: $blue;
	min-width: em(152px, 21);
	text-align: center;
	float: right;
}
