//-------------------------------
//-------- Box elements ---------
//-------------------------------

// SEPERATOR //
.seperator {
	position: relative;

	.icon {
		position: relative;
		z-index: 1;
		display: block;
		width: em(33px);
		height: em(33px);
		background: $light-grey;
		color: $medium-grey;
		text-align: center;
		border: 1px solid $medium-grey;
		@include border-radius(50%);
		margin: em(30px) auto;
		font-size: em(16px);
		line-height: em(30px, 16);

	}

	.line {
		position: absolute;
		width: 50%;
		height: em(2px);
		top: 50%;

		&-left {
			left: 0;
			background: -moz-linear-gradient(left,  rgba(233,233,233,0) 0%, rgba(233,233,233,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(233,233,233,0) 0%,rgba(233,233,233,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(233,233,233,0) 0%,rgba(233,233,233,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e9e9e9', endColorstr='#e9e9e9',GradientType=1 ); /* IE6-9 */
		}
		&-right {
			right: 0;
			background: -moz-linear-gradient(left,  rgba(233,233,233,1) 0%, rgba(233,233,233,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(233,233,233,1) 0%,rgba(233,233,233,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(233,233,233,1) 0%,rgba(233,233,233,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#00e9e9e9',GradientType=1 ); /* IE6-9 */
		}
	}

}

//forms

#login-form {

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		font-size: em(21px);
		line-height: em(35px, 21);
		height: auto;
		color: $grey;
		padding: em(12px, 21) em(15px, 21) em(12px, 21) em(130px, 21) ;
	}

	#btn-login {
		background: $dark-blue;
		&:hover {
			background: lighten($dark-blue, 5%);
			color: $white;
		}
	}
	.form-remember label{
		display: inline-block;
		margin-bottom: em(20px, 14);
		font-size: em(14px);
		color: $medium-grey;
	}
	.form-field {
		position: relative;
		margin-bottom: em(30px);
		label {
			position: absolute;
			top: em(12px, 21);
			left: em(15px, 21);

			font-size: em(21px);
			line-height: em(35px, 21);
			font-weight: 600;
			color: $light-grey;
		}
	}
}

#register-form {

	#btn-signup {
		background: $yellow;
		&:hover {
			background: lighten($yellow, 5%);
			color: $white;
		}
	}

	.form-field {
		position: relative;
		margin-bottom: em(10px);
		label {
			font-size: em(16px);
			line-height: em(35px, 16);
			font-weight: 600;
		}
	}
}

//DROPZONE DRAG AND DROP
.dropzone {
	float: right;
	min-width: 200px;
	label {
		float: left;
		font-weight: 600;
		color: $medium-grey;
	}
	.drop-zone {
		float: right;
	}
	& + * {
		clear: both;
	}
}
.ezdz-dropzone {
    position: relative;
    border-radius: 10px;
    font: bold 20px arial;
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: $white;
    border: 1px solid $medium-grey;
    color: $grey;
    overflow: hidden;
}

.ezdz-dropzone div {
    /* */
}

    .ezdz-dropzone span {
        border-radius: 10px;
        background: black;
        background: rgba(0,0,0,0.7);
        color: white;
        font-size: 13px;
        font-weight: normal;
        max-width: 90%;
        vertical-align: middle;
        padding: 4%;
        line-height: 10px;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .ezdz-dropzone img {
        border-radius: 10px;
        max-width: 95%;
        max-height: 95%;
        margin-top: -3px;
        vertical-align: middle;
    }

    .ezdz-dropzone [type="file"] {
        cursor: pointer;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        margin: 0;
        padding: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

.ezdz-focus {
    border: 2px solid $grey;
}

.ezdz-enter {
    border: 2px solid black;
    color: black;
}

.ezdz-accept {
    border: 2px solid $light-grey;
}

.ezdz-reject {
    border: 2px solid $red;
    color: $red;
}

//CLEARFIX
.form-action {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

//COMMENTs
.comment-list {
	li {
		border-bottom: 1px solid $light-grey;
		margin-bottom: em(20px);
		.comment-text {
			padding: 0 em(10px);
		}
	}
}

// FB BUTTON
.fb-login {
	text-align: center;
}
.fb-btn {
	display: inline-block;
}

// USER PAGE 
 .user-list {
 	li {
 		margin-bottom: em(10px);
 	}
 }




