
//-------- BASIC STRUCTURE ----------

body {
	background: url('../img/bg-pattern.jpg');
	color: $grey;
	position: relative;
	
	* {
		font-family: $source;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: -200px;
		left: 0;
		right: 0;
		background: url('../img/bg.png') no-repeat center top transparent;
		z-index: -1;
	}
} 

#logo {
	img {
		display: block;
		margin: em(30px) auto;
	}
}

.container {
	background: $white;
	padding-bottom: em(50px);
	max-width: em(830px);
	margin: 0 auto;
	&.signin {
		background: none;
	}
}
.container .signin-form {
	
	background: $lighter-grey;
	border: 1px solid $medium-grey;
	@include border-radius(10px);
	.row {
		margin: 0;
	}
	header {
		@include border-top-radius(10px);
		background: $blue;
		border: 1px solid $blue;
		color: $white;
		padding: em(45px);
		text-align: center;
	}
}

.comment-container {
	float: right;
}

.wrapper-login{
	border-bottom: 1px solid $light-grey;
	padding-bottom: em(50px);
	margin: em(50px) 0 0;
}

.wrapper-register{
	margin: em(50px) 0 0;
}

@media only screen and (min-width:768px) {
	body > .signin-form {
		margin-top: em(200px);
	}
	.wrapper-login {
		border: 0;
		margin-top: em(100px);
	}
	.wrapper-register {
		margin: em(10px) 0 0;
	}

	.content {
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: em(-170px);
			width: em(2px);
			height: em(340px);
			background: $light-grey;
			z-index: 1;

		}
	}
}


