// FONT //
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);
$source: 'Source Sans Pro', sans-serif;

$base-font-size: 16;
$base-line-height: 35;


// DEVICE LIST //
$xs-min: "only screen and (min-width:none)";
$xs-max: "only screen and (max-width:520px)";
$xs-sm: "only screen (min-width: none) and (max-width:767px)";

$sm-min: "only screen and (min-width:768px)";
$sm-max: "only screen and (max-width:991px)";
$sm-md: "only screen (min-width: 768px) and (max-width:991px)";

$md-min: "only screen and (min-width:992px)";
$md-max: "only screen and (max-width:1199px)";
$md-lg: "only screen (min-width: 992px) and (max-width:1199px)";

$lg-min: "only screen and (min-width:1200px)";
$lg-max: "only screen and (max-width:none)";

// COLORS //

$black: #000000;
$white: #ffffff;

$lighter-grey: #f5f5f5; //background
$light-grey: #e9e9e9; //placeholder
$medium-grey: #cbcbcb;
$grey: #676767; //text
$dark-grey: #222222;

$blue: #81afc5; //background box
$dark-blue: #00a0bc; //login-btn
$yellow: #ffc334; //register-btn
$red: #ff6666;